.App-header{
    min-height: initial;
    min-height: 40px;
    max-height: 75px;
}
h3.title{
    color: #c7cbe1;
    letter-spacing: 0.04em;
}

.closeIcon{
    color: #757a84;
    font-weighT: bold;
    font-size: 1.3em;
}